@font-face {
    font-family: segment;
    src: url(Seven\ Segment.ttf);
}
@font-face {
    font-family: number;
    src: url(Robinson\ Regular\ 400.otf);
}
body{
    background-color: gold;
}
*{
    text-align: center;
    font-family: number, 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}
.calculator{
    padding:100px;
    border-radius: 10px;
    background-color: #36454F;
    border:solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.696);
}
.flex-container{
    display:flex;
    padding:5px;
    gap:5px;
}
.center{
    justify-content: center;
    align-items: center;
}
button{
    font-size: 60px;
    border:solid 1px black;
    border-radius: 10px;
    height:80px;
    width:80px;
    line-height: 80px;
    background-color: rgb(244, 246, 241);
}
.column{
    flex-direction: column;
}
.result{
    height:50px;
    text-align: end;
    line-height: 50px;
    font-size: 50px;
    font-family: segment;
    background-color: rgb(190, 190, 190);
    border-radius: 5px;
    padding:5px;
}
.result-container{
    padding:20px;
}
button:hover{
    background-color: rgb(219, 211,197);
}
