@font-face {
    font-family: segment;
    src: url(Seven\ Segment.ttf);
}
@font-face {
    font-family: number;
    src: url(Robinson\ Regular\ 400.otf);
}
body{
    background: rgb(255,122,0);
    background: radial-gradient(circle, rgba(255,122,0,1) 0%, rgba(255,255,0,1) 100%);
}
*{
    text-align: center;
    font-family: number, 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}
.calculator{
    padding:100px;
    border-radius: 10px;
    background-color: #36454F;
    border:solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.696);
}
.flex-container{
    display:flex;
    padding:5px;
    gap:5px;
}
.center{
    justify-content: center;
    align-items: center;
}
button{
    font-size: 60px;
    border:solid 1px black;
    border-radius: 10px;
    height:80px;
    width:80px;
    line-height: 80px;
    background-color: rgb(244, 246, 241);
}
.column{
    flex-direction: column;
}
.result{
    text-align: start;
    height:50px;
    line-height: 50px;
    font-size: 50px;
    font-family: segment;
    background-color: rgb(190, 190, 190);
    border-radius: 5px;
    padding:5px;
    max-width: 295px;
    overflow:hidden;
    white-space: nowrap;
}
.result-container{
    padding:20px;
}
button:hover{
    background-color: rgb(219, 211,197);
}
.arrow{
    height:0px;
    width:0px;
    background: transparent;
    border:none;
}
.arrow-container{
    height:80px;
    width: 80px;
    gap:4px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.left{
    border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
   border-right: 35px solid rgb(244, 246, 241);
}
.right{
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
   border-left: 35px solid rgb(244, 246, 241);
}
.arrow.left:hover{
    background-color: transparent;
    border-right: 35px solid rgb(219, 211,197);
}
.arrow.right:hover{
    background-color: transparent;
    border-left: 35px solid rgb(219, 211,197);
}